body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(158, 244, 247);
}

main {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
   width: 50%;
    margin: 50px auto;
    text-align: center;
}
